nav{
    width: 70%;
    margin: auto;
    background-color: #A9A9A9;
    padding: 10px 2px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    font-family: Verdana;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #fff;
}
main{
    width: 100%;
}
section{
    width: 100%;
    height: auto;
}

footer{
    margin-bottom: 0px;
}
.div-70{
    width: 70%;
    height: 500px;
    margin: auto;
    overflow: auto;
}

.bc-whtsm{
    background-color: whitesmoke;
}

.bc-wht{
    background-color: white;
}
.div-98{
    width: 98%;
    height: auto;
    margin: auto;
}

.div-25{
    width: 25%;
    margin: auto;
    height: auto;
    background:whitesmoke;
    padding: 10px 305px;
}
.div-100{
    width: 100%;
    margin:auto;
    height: auto;
}
.cadastro h1{
    font-family: Arial;
    text-align: center;
    background-color:gainsboro;
    padding: 10px 0;

}

.cadastro input,select {
    text-align: center;
    font-size: 17px;
    width: 100%;
    margin:5px 0;
    padding: 6px 0;
}

.cadastro select{
    width: 101.5% !important;
    margin:10px 0;
    padding: 6px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
    padding-left: 100px;
}
.select-center{
  padding-left: 15%;
  padding-right: 15%;
}

main section .lista-dados{
    width: 40%;
    float: left;
    margin: 4px 1px; 
    padding: 0 10px;
    border: solid 2px whitesmoke;
}
main section .lista-dados h3, p, .list-esp h3,p, .list-cod h3, p{
    font-family: Arial;
    text-align: center;
    
}

main section .list-esp{
    width: 60%;
    float: left;
    border: solid 2px whitesmoke;
    margin: 4px 1px; 
    padding: 0 10px;
    
}

main section .list-cod{
    width: 20%;
    float: left;
    border: solid 2px whitesmoke;
    margin: 4px 1px; 
    padding: 0 10px;
}
.botoes{
    width: 14%;
    float: left;
    padding: 4px 1px;
}

.botoes button{
    font-size: 16px;
    margin:0;
    width: 100%;
    height: 100%;
    padding: 16px 0;
    background: none;
    border: solid 2px whitesmoke;
   
}

.botoes button:hover{
    background-color: #A9A9A9;
    color: white;
}

.div-acoes{
    text-align: center;
    font-family: Arial;
    background-color: #D3D3D3;
    margin:4px 1px;
    padding: 18px 0;
    width: 127px;
    border: solid 2px #D3D3D3;
}

.div-acoes h3{
    margin: 0 !important;
}

input.error, select.error{
    border: solid 1px red;
}


label.error{
    font-size: 10px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
   
}

.captalize{
    text-transform: capitalize;
}
.form-1{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 10px;
}
.form-1 input{
    width: 80% !important;
    border-radius: 5px !important;
    border: 1px solid black;
}

.form-1 input[type="submit"]{
    font-size: 14px !important;
    width: 18% !important;
    padding: 7px 2px !important;
    background-color: white;
    border-radius: 5px !important;
    border: 1px solid black;
    margin-left: 0px;
}

.form-2{
    border: 1px solid black;
    margin: 20px 0;
    padding: 10px 10px;
    border-radius: 10px;
}
.form-2 input, select{
    border-radius: 5px;
    border: 1px solid black;
}

.form-2 input[type="submit"]{
    font-size: 14px !important;
    width: 100.5% !important;
    padding: 7px 2px !important;
    background-color: white;
    border-radius: 5px !important;
    border: 1px solid black;
}

.form-1 input[type="submit"]:hover, .form-2 input[type="submit"]:hover{
    background-color: #A9A9A9;
    color:white;
}

.corpo{
    display: none;
}

.carregando{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    background: url(../img/loadingUpdate.gif) 50% 50% no-repeat;
}
.processo{
   float: right;
    position: relative;
    top: -158px;
    margin-right: -100px;
    width: 40px;

}

.processamento{
    background: none;
    width: 100%;
    height: 40px;
    margin: 5px 0;
}

.loading-image{
     background: url(../img/loadingUpdate.gif) 50% 50% no-repeat;
}

.checkOk{
    background: url(../img/checkOk-maior.png) 50% 50% no-repeat;
    background-size: 100%;
}

.checkOkError{
    background: url(../img/checkError.png) 50% 50% no-repeat;
    background-size: 100%;
}

.processo-Campo{
    width: 230px;
    height: 200px;
    float: right;
    position: relative;
    top: -456px;
    margin-right: 326px;
    background-size: 50%;
}

.d-pessoais{
    font-family: Arial;
    background-color: whitesmoke;
    margin: 5px 1.5%;
    width: 25%;
    float: left;
    height: 65px;
    padding: 2px 0;
    border-radius: 0 50px 0 50px;
}
.d-pessoais h4{
    text-align: center;
    width: 50%;
    margin: 0 5px;
    padding: 5px 5px;
    background-color: white;
    border-radius: 0 50px 0 0;
    
}

.dadosPessoais{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 50px;
    height: 20px;
}
.dadosPessoais p{
    margin: 2px 0;
    text-align: center;
}

.h-center h1,h2,h3,h4,h5{
    font-family: Arial;
    text-align: center;
}

.buttons{
    width:45%;
    margin: 30px 2.2%;
    float: left;
    border:solid 2px #D3D3D3;
    padding: 10px 0;
}

.buttons button{
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    padding: 10px 0;
    background-color:white;
    border-radius: 10px;
}
.buttons button:hover{
    background-color: whitesmoke;
    
}

.color-withsmoke{
    background-color: whitesmoke;
}

.edit-del{
    width: 30%;
    float: left;
    border:solid 2px #A9A9A9;
    margin: 15px 1.45% !important;
    padding: 5px 0;
}

.edit-del button{
    width: 90%;
    font-size: 16px;
    margin-left: 5%;
    padding: 5px 0;
    border: solid 1px #D3D3D3;
    background-color: white;
    border-radius: 10px;
}
.edit-del button:hover{
    background-color: #D3D3D3;
    color: white;
}