nav{
    width: 80%;
    margin: auto;
    background-color: #A9A9A9;
    padding: 10px 2px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    font-family: Verdana;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #fff;
}
main{
    width: 100%;
}
section{
    width: 100%;
    height: auto;
}
.div-80{
    width: 80%;
    margin: auto;
    height: auto;
}
.div-25{
    width: 25%;
    margin: auto;
    height: auto;
    background:whitesmoke;
    padding: 0px 370px;
}
.div-100{
    width: 100%;
    margin:auto;
    height: auto;
}
.cadastro h1{
    font-family: Arial;
    text-align: center;
    background-color:gainsboro;
    padding: 10px 0;

}

.cadastro input,select{
    text-align: center;
    font-size: 17px;
    width: 100%;
    margin:5px 0;
    padding: 6px 0;
}

.cadastro select{
    width: 101.5%;
    margin:10px 0;
    padding: 6px 0;
    text-align: center;
}

main section .lista-dados{
    width: 35%;
    float: left;
    background-color: whitesmoke;
    margin: 2px 1px; 
    padding: 0 10px;
}
main section .lista-dados h3, p{
    font-family: Arial;
    text-align: center;
    
}

.botoes{
    width: 12%;
    float: left;
    background-color: whitesmoke;
}

.botoes button{
    width: 100%;
    height: 100%;
    padding: 15px 0px;
}
